body {
  text-align: center;
  font-family: "Roboto Slab", serif;
}

header {
  font-size: 10vw;
  animation: blinkingText 1.2s infinite;
  font-family: "Roboto Slab", serif;
}

@keyframes blinkingText {
  0% {
    color: red;
  }
  50% {
    color: black;
  }
  100% {
    color: red;
  }
}

button {
  height: 20px;
  width: 50px;
}

.strikeThrough {
  text-decoration: line-through;
  background-color: rgba(51, 170, 51, 0.1);
  border-radius: 10px;
}

section {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: silver;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

ul {
  border: solid;
  height: auto;
  width: 460px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 3vw;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

@media all and (max-width: 500px) {
  section {
    width: auto;
  }

  ul {
    width: auto;
  }

  #list {
    margin: auto;
    padding-left: 0px;
  }
}
